DATABASE_URL=postgres://student:iiith@localhost:5433/grapevine
POSTGRES_DB=grapevine
POSTGRES_USER=student
POSTGRES_PASSWORD=iiith
CAS_BASE_URL=https://login.iiit.ac.in/cas
APP_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173
SESSION_SECRET=00000000000000000000000000000000000000000000000000000000000000000000
MODERATOR_EMAILS=advait.dintakurti@research.iiit.ac.in
